@import url(@fontsource/ibm-plex-sans);
@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css);
@import url(theme.dark.css);

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* breakpoints */
  /* CANNOT USE ON MEDIA QUERIES */
  --sm: 600px;
  --md: 905px;
  --lg: 1240px;
  --xl: 1440px;

  /* special colors */
  --react-color: #61dafb;
  --on-react-color: #282c34;
  --svelte-color: #ff3e00;
  --vue-color: #4fc08d;
  --ux-color: #ff00ff;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

.blob {
  border-radius: 53% 47% 34% 66% / 63% 46% 54% 37%;
}
