@import url(@fontsource/ibm-plex-sans);
@import url(tokens.css);
@import url(colors.module.css);
@import url(typography.module.css);
@import url(theme.light.css);
@import url(theme.dark.css);

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* breakpoints */
  /* CANNOT USE ON MEDIA QUERIES */
  --sm: 600px;
  --md: 905px;
  --lg: 1240px;
  --xl: 1440px;

  /* special colors */
  --react-color: #61dafb;
  --on-react-color: #282c34;
  --svelte-color: #ff3e00;
  --vue-color: #4fc08d;
  --ux-color: #ff00ff;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.blob {
  border-radius: 53% 47% 34% 66% / 63% 46% 54% 37%;
}

::selection {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);
}

.mark {
  padding-inline: 0.25rem;
  border-radius: 0.25rem;
  white-space: nowrap;
}
.react {
  background-color: var(--react-color);
  color: var(--on-react-color);
}
.svelte {
  background-color: var(--svelte-color);
}
.vue {
  background-color: var(--vue-color);
  color: #000;
}
.ux {
  background-color: var(--ux-color);
}
.tsv {
  background: linear-gradient(90deg, #8ebc11, #0095d7);
  color: #000;
}
.red {
  background-color: #ff0000;
  color: #fff;
}

.keyboard-shortcut {
  /* Background and color */
  background-color: rgb(209, 213, 219);
  border-radius: 0.25rem;
  color: rgb(55, 65, 81);

  /* Bottom shadow */
  box-shadow: rgb(167, 170, 175) 0px -4px 0px inset,
    rgba(0, 0, 0, 0.4) 0px 1px 1px;

  /* Spacing */
  padding: 0.25rem 0.5rem;
}
