---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Project from "../components/Project.astro";

const projectsEntries = await getCollection("projects");
---

<BaseLayout>
  <div class="md:min-h-safe-screen col-span-full items-center">
    <h1 class="display-small my-8">Contact Me</h1>
    <main transition:animate="slide">
      <iframe
        data-tally-src="https://tally.so/embed/3NpLpO?alignLeft=1&hideTitle=1&transparentBackground=1&dynamicHeight=1"
        loading="lazy"
        width="100%"
        height="329"
        frameborder="0"
        marginheight="0"
        marginwidth="0"
        title="Contact Me"></iframe>
      <script is:inline>
        var d = document,
          w = "https://tally.so/widgets/embed.js",
          v = function () {
            "undefined" != typeof Tally
              ? Tally.loadEmbeds()
              : d
                  .querySelectorAll("iframe[data-tally-src]:not([src])")
                  .forEach(function (e) {
                    e.src = e.dataset.tallySrc;
                  });
          };
        if ("undefined" != typeof Tally) v();
        else if (d.querySelector('script[src="' + w + '"]') == null) {
          var s = d.createElement("script");
          (s.src = w), (s.onload = v), (s.onerror = v), d.body.appendChild(s);
        }
      </script>
    </main>
  </div>
</BaseLayout>
