---
import BaseLayout from "../layouts/BaseLayout.astro";
import Mark from "../components/Mark.astro";
import Profile from "/profile.png";
---

<BaseLayout>
  <main
    class="col-span-full flex flex-col justify-center space-y-4 md:col-span-6 md:min-h-safe-screen"
  >
    <h1 class="display-large">
      Hi, I'm
      <span class="with-line">
        Samuele
        <img src="/line.svg" class="svg-line" />
      </span>
    </h1>
    <p class="headline-small">
      I'm an Italian front-end web developer proficient in <Mark color="react">
        React
      </Mark>, <Mark color="svelte">Svelte</Mark>, and
      <Mark color="vue">Vue</Mark>.
    </p>
    <p class="headline-small">
      I created several responsive and user-friendly websites and web
      applications with a focus on <Mark color="ux">UX</Mark>, performance and
      SEO.
    </p>
    <p class="headline-small">
      Always interested in modern web development technologies and frameworks.
    </p>
  </main>
  <aside
    class="col-span-full flex flex-col justify-center md:col-span-6 md:min-h-safe-screen"
  >
    <img
      src={Profile}
      alt="My Avatar"
      class="blob mx-auto my-2 aspect-square w-full max-w-[400px] object-cover"
    />
  </aside>
</BaseLayout>

<style>
  .with-line {
    position: relative;
  }
  .svg-line {
    position: absolute;
    top: 100%;
    left: 0;
  }
</style>
