---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1 class="text-2xl font-bold text-red-500">Astro</h1>
    <div class="i-carbon-moon"></div>
	<article class="prose text-base">
		<h1>Title</h1>
		<h2>Subtitle</h2>
		<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, minima ullam culpa molestias atque quisquam?</p>
	</article>
  </body>
</html>
