---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div>
    <h1 class="display-large">Hi, I'm Samuele</h1>
    <h2 class="headline-small">
      I'm an Italian front-end web developer proficient in React, Svelte, and
      Vue.
    </h2>
    <h2 class="headline-small">
      I created several responsive and user-friendly websites and web
      applications with a focus on UX, performance and SEO.
    </h2>
    <h2 class="headline-small">
      Always interested in modern web development technologies and frameworks.
    </h2>
  </div>
</BaseLayout>