---
import BaseLayout from "../layouts/BaseLayout.astro";
import Profile from "/profile.png";
---

<BaseLayout>
  <main class="col-span-full space-y-4">
    <h1 class="display-large">
      Hi, I'm
      <span class="with-line">
        Samuele
        <img src="/line.svg" class="svg-line" />
      </span>
    </h1>
    <p class="headline-small">
      I'm an Italian front-end web developer proficient in <span
        class="mark react">React</span
      >, <span class="mark svelte">Svelte</span>, and
      <span class="mark vue">Vue</span>.
    </p>
    <p class="headline-small">
      I created several responsive and user-friendly websites and web
      applications with a focus on <span class="mark ux">UX</span>, performance
      and SEO.
    </p>
    <p class="headline-small">
      Always interested in modern web development technologies and frameworks.
    </p>
  </main>
  <aside>
    <img src={Profile} alt="My Avatar" class="blob hero-image" />
  </aside>
</BaseLayout>

<style>
  .with-line {
    position: relative;
  }
  .svg-line {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .mark {
    padding-inline: 0.25rem;
    border-radius: 0.25rem;
    white-space: nowrap;
  }
  .mark.react {
    background-color: var(--react-color);
    color: var(--on-react-color);
  }
  .mark.svelte {
    background-color: var(--svelte-color);
  }
  .mark.vue {
    background-color: var(--vue-color);
  }
  .mark.ux {
    background-color: var(--ux-color);
  }

  .hero-image {
    display: none;
  }
  @media (min-width: 768px) {
    .hero-image {
      display: block;
    }
  }
  .hero-image {
    grid-column: 7 / 13;
    max-width: 400px;
    margin-inline: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
</style>
