---
import "../styles/theme.css";
import Link from "../components/Link.astro";
---

<div class="test">
  <Link href="/about">
    About
    <div slot="icon">A</div>
  </Link>
</div>

<style>
  .test {
    display: grid;
    place-items: center;
  }
</style>
