---
import "../styles/theme.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import IconPortfolio from "~icons/carbon/portfolio";
---

<BaseLayout>
  <div class="test">
    <Link to="/about">
      About
      <IconPortfolio slot="icon" />
    </Link>
  </div>
</BaseLayout>

<style>
  .test {
    display: grid;
    place-items: center;
    height: 100vh;
  }
</style>
