---
import "../styles/theme.css";
import Link from "../components/Link.astro";
import IconPortfolio from "~icons/carbon/portfolio";
---

<div class="test">
  <Link href="/about">
    About
    <IconPortfolio slot="icon" />
  </Link>
</div>

<style>
  .test {
    display: grid;
    place-items: center;
  }
</style>
