<div
  class="mx-4 grid grid-cols-4 justify-center gap-x-4 gap-y-0 sm:mx-8 sm:grid-cols-8 sm:gap-x-4 md:mx-6 md:grid-cols-12 md:gap-x-6 lg:mx-[200px] lg:grid-cols-12 xl:mx-auto xl:grid-cols-[repeat(12,_72px)]"
>
  <slot />
</div>
