---
import "../styles/theme.css";
---

<div class="grid items-center justify-center grid-cols-4 gap-x-4 mx-4 sm:grid-cols-8 sm:gap-x-4 sm:mx-8 md:grid-cols-12 md:gap-x-6 md:mx-6 lg:grid-cols-12 lg:mx-[200px] xl:grid-cols-[repeat(12,_72px)] xl:mx-auto gap-y-0">
  <slot />
</div>
