<header class="header">
  <div>SM</div>
  <nav class="flex flex-row list-none">
    <a href="">
      projects
      <div class="i-carbon-portfolio"></div>
    </a>
    <a>
      blog
      <div class="i-carbon-blog"></div>
    </a>
    <a>
      contact
      <div class="i-carbon-email"></div>
    </a>
    <a>
      theme
      <div class="i-carbon-moon"></div>
    </a>
  </nav>
</header>

<style>
  .header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    gap: 10px;
    height: 64px;
  }
  .header div {
    width: 42px;
    height: 42px;
  }
  .header nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
  }
  .header nav li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
  }
</style>
