<header class="flex flex-row justify-between">
  <div>SM</div>
  <nav class="flex flex-row list-none">
    <li>projects</li>
    <li>blog</li>
    <li>contact</li>
    <li>theme</li>
  </nav>
</header>
