---
const { to } = Astro.props;
---

<a
  href={to}
  class="hover-effect flex flex-row items-center md:space-x-2 space-x-0 on-background-text"
>
  <span class="label-large hidden md:block">
    <slot />
  </span>
  <span class="grid place-items-center">
    <slot name="icon" />
  </span>
</a>

<style>
  a {
    outline: none;
  }
  .hover-effect {
    position: relative;
  }
  .hover-effect::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--md-sys-color-primary);
    scale: 0 1;
    transform-origin: 100%;
    border-radius: 14px;
    transition: scale 0.3s;
  }
  .hover-effect:hover::after,
  .hover-effect:focus::after {
    scale: 1 1;
    transform-origin: 0;
  }
</style>
