---
import IconArrowLeft from "~icons/carbon/arrow-left";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectsEntries = await getCollection("projects");
  return projectsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <div class="col-span-full mt-6" transition:animate="slide">
    <button
      onclick="history.back()"
      class="text-primary-500 hover-effect flex items-center mb-4"
    >
      <IconArrowLeft class="inline-block w-4 h-4 mr-2" />
      Back to projects
    </button>
    <article
      class="prose prose-emerald md:prose-lg dark:prose-invert prose-h1:my-8 prose-blockquote:border-primary-500 max-w-none"
    >
      <h1 class="display-small col-span-full">{entry.data.title}</h1>
      <Content />
    </article>
  </div>
</BaseLayout>
