---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectsEntries = await getCollection("projects");
  return projectsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
// 2. When it's time to render, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <article class="col-span-full">
    <h1 class="headline-large col-span-full">{entry.data.title}</h1>
    <div class="title-large">
      <Content />
    </div>
  </article>
</BaseLayout>
