---
import "@fontsource/ibm-plex-sans";
import "../styles/global.css";

import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Samuele Mazzei | Web Developer</title>
  </head>
  <body>
    <Grid>
      <Header />
      <slot />
    </Grid>
  </body>
</html>

<style>
  :global(:root) {
    --sm: 600px;
    --md: 905px;
    --lg: 1240px;
    --xl: 1440px;
  }
</style>
