---
import "@fontsource/ibm-plex-sans";
import "../styles/theme.css";

import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
import { SEO } from "astro-seo";
const {
  articleTitle,
  articleDescription,
  articleImage,
  articleAlt,
  articleDate,
  articleAuthor,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="sign.svg" type="image/svg" />
    <meta name="theme-color" content="#38d9a9" />
    <meta name="”robots”" content="index, follow" />
    <meta name="generator" content={Astro.generator} />
    <title>{articleTitle ?? "Samuele Mazzei | Web Developer"}</title>
    <meta
      name="description"
      content={articleDescription ??
        "Hi, I'm a web developer. Let's get in touch and build something amazing together."}
    />
    <meta
      name="image"
      content={articleImage ?? "https://samuelemazzei.dev/sign.svg"}
    />

    <SEO
      title={articleTitle}
      titleDefault="Samuele Mazzei | Web Developer"
      description={articleDescription ??
        "Hi, I'm a web developer. Let's get in touch and build something amazing together."}
      openGraph={{
        basic: {
          type: "article",
          title: articleTitle ?? "Samuele Mazzei | Web Developer",
          image: articleImage ?? "https://samuelemazzei.dev/sign.svg",
        },
        optional: {
          description:
            articleDescription ??
            "Hi, I'm a web developer. Let's get in touch and build something amazing together.",
        },
        image: {
          alt: articleAlt ?? "A cover image for the article",
        },
        article: {
          publishedTime: articleDate,
          modifiedTime: articleDate,
          authors: [articleAuthor ?? "Samuele Mazzei"],
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@Samu01Tech",
        title: articleTitle ?? "Samuele Mazzei | Web Developer",
        description:
          articleDescription ??
          "Hi, I'm a web developer. Let's get in touch and build something amazing together.",
        image: articleImage ?? "https://samuelemazzei.dev/sign.svg",
        imageAlt: articleAlt ?? "A cover image for the article",
      }}
    />
    <ViewTransitions />
  </head>
  <body>
    <Grid>
      <Header />
      <slot />
    </Grid>
  </body>
</html>
